h1, h2, h3, h4, h5, h6 {
    color: #4b0dc6;
    font-weight: 400;
}
.md-typeset h1 {
    color: #2912c1;
}
.md-main__inner {
    padding-top: 0;
}
.md-sidebar.md-sidebar--primary {
    background-color: rgb(242, 239, 255);
}

.md-tabs__item:has(a.md-tabs__link--active) {
    background-color:red;
}
/*.wy-menu-vertical {
    padding: 0 20px;
}

.wy-menu-vertical .caption {
    padding: 0 !important;
    margin-bottom: 0 !important;
    color: #6ab0de !important;
    text-transform: uppercase !important;
}

.wy-menu-vertical ul {
    margin-bottom: 0 !important;
}*/